<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment = "productform" >
    <div class="popupMain">
        <div class="popupBox">
                <form th:action="@{/saveData}" th:object = "${newproduct}" >
                    <label>Product:</label>
                    <input  type="text" th:field="*{name}"/>
                </br>
                    <label>Price:</label>
                    <input  type ="number" th:field="*{price}"/>
                    <button type="submit">Save</button>
                    <a th:href="@{|/gobackForm|}">BACK</a>
                </form>
        </div>
    </div>


</div>


</body>
</html>