<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/styles.css}" href="/styles/styles.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/navbar.css}" href="/styles/navbar.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:if="${productformtrigger}">
        <div th:replace="fragments/productform :: productform">></div>
    </div>

    <div th:if="${trigger}">
        <div th:replace="fragments/editpopup :: popupBox">></div>
    </div>

    <div class="containerAdmin">
        <div class="productContainerAdmin">
                <div class="productsAdmin">
                            <div th:each="product : ${products}" class="grid">
                                <div class="leftGrid">
                                    <a class="nameGrid" th:text="${product.name}"></a>
                                    <a class="priceGrid" th:text="${product.price}"></a>
                                </div>
                                <div class="editAndDeleteGrid">
                                    <div class="editButton">
                                        <a th:href="@{|/edit?id=${product.id}|}">EDIT</a>
                                    </div>
                                    <div class="deleteButton">
                                        <a th:href="@{|/deleteData?id=${product.id}|}">DELETE</a>
                                    </div>
                                </div>
                            </div>
                    <a class="addProductButton" th:href="@{|/newproduct|}">Add New Product</a>
                </div>
        </div>
    </div>
</body>
</html>