<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/styles.css}" href="/styles/styles.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/navbar.css}" href="/styles/navbar.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <a th:each="item : ${cartItems}">
        <a th:text="${item.name}"></a>
        <a th:text="${item.price}"></a>
        <a th:href="@{|/deleteItem?id=${item.id}|}">Remove product</a>
        <br/>
    </a>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>