<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/styles.css}" href="/styles/styles.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/navbar.css}" href="/styles/navbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <img alt="productImage" th:src="@{/images/fruitguysheader.jpg}" />
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
