<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/styles.css}" href="/styles/styles.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/navbar.css}" href="/styles/navbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div class="productContainer">
            <div class="products">
                <div th:each="product : ${allProducts}" class="frameGrid">
                    <div class="imageBox">
                        <img alt="productImage" class="image"  th:src="@{/images/fruitguys.jpg}" />
                    </div>
                    <a th:text="${product.name}"></a>
                        <a th:text="${product.price}"></a>
                        <a th:href="@{|/addtocart?id=${product.id}|}">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>