<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/navbar.css}" href="/styles/navbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <p th:each="product : ${allProducts}">
        <a th:text="${product.name}"/>
        <a th:text="${product.price}"/>
        <a th:href="@{|/addtocart?id=${product.id}|}">Add to cart</a>
        <!--        <button>Add to cart </button>-->
        <br/>
    </p>
</body>
</html>